<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <template v-if="id == 0 ">
            <div 
           
            v-bind:style="{
             position:'relative',
             width:'50px',
             borderStyle:'solid',
             borderWidth:'1px',
             backgroundColor:'green'
            }">.....
             </div>

             <br>

             <div 
           
             v-bind:style="{
              position:'relative',
              width:'50px',
              borderStyle:'solid',
              borderWidth:'1px',
              backgroundColor:'gray'
             }">.....
              </div>
              <br>

              <div 
           
              v-bind:style="{
               position:'relative',
               width:'50px',
               borderStyle:'solid',
               borderWidth:'1px',
               backgroundColor:'gray'
              }">.....
               </div>

               


               <br>

               <button @click="change()">เปลี่ยนไฟ</button>
       
              
            
        </template>
        <template v-if="id == 1">
            <div 
           
            v-bind:style="{
             position:'relative',
             width:'50px',
             borderStyle:'solid',
             borderWidth:'1px',
             backgroundColor:'gray'
            }">.....
             </div>

             <br>

             <div 
           
             v-bind:style="{
              position:'relative',
              width:'50px',
              borderStyle:'solid',
              borderWidth:'1px',
              backgroundColor:'yellow'
             }">.....
              </div>
              <br>

              <div 
           
              v-bind:style="{
               position:'relative',
               width:'50px',
               borderStyle:'solid',
               borderWidth:'1px',
               backgroundColor:'gray'
              }">.....
               </div>

            
               <br>

               <button @click="change()">เปลี่ยนไฟ</button>
       
              
            
        </template>
        <template v-if="id == 2">
            <div 
           
            v-bind:style="{
             position:'relative',
             width:'50px',
             borderStyle:'solid',
             borderWidth:'1px',
             backgroundColor:'gray'
            }">.....
             </div>

             <br>

             <div 
           
             v-bind:style="{
              position:'relative',
              width:'50px',
              borderStyle:'solid',
              borderWidth:'1px',
              backgroundColor:'gray'
             }">.....
              </div>
              <br>

              <div 
           
              v-bind:style="{
               position:'relative',
               width:'50px',
               borderStyle:'solid',
               borderWidth:'1px',
               backgroundColor:'red'
              }">.....
               </div>

            
               <br>

               <button @click="change()">เปลี่ยนไฟ</button>
       
              
        </template>    
      

    </div>


    <script>
        var app = new Vue({
            //element
            el: "#app",
            data: {

                boxs: [{ id: 0, color: 'green' }, { id: 1, color: 'yellow' }, { id: 2, color: 'red' }],
                id: 0,
                a: 'green'


            },
            methods: {
                change: function () {
                    if (this.id <=1) {
                        this.id = this.id + 1
                        this.a = this.boxs[this.id].color
                    }else{
                        this.id = this.id-2
                        this.a = this.boxs[this.id].color

                    }

                },



            },


            computed: {


            }

        });
    </script>

</body>
</html>